:root {
  --bg: 19, 41, 61;
  --primary: 27, 152, 224;
  --secondary: 0, 100, 148;
  --tertiary: 36, 123, 160;
  --base: 232, 241, 242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: url(./assets/black-bg.png) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(4px);

}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.quiz, .resultado {
  max-width: 1200px;
  min-height: 700px;
  margin: 4rem auto 0;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(24, 23, 23, 0.9);
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.5);
}

.pergunta {
  padding: 10px;
  width: 100%;
  max-width: 700px;
  height: 150px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #c6c6c6;
  color: black;
  font-size: 1rem;
  line-height: 140%;
}

.numero-pergunta {
  position: absolute;
  top: -20px;
  border: 1px solid;
  border-radius: 9999px;
  padding: 10px 30px;
  background: rgba(24, 23, 23, 0.9);
  color: white;
  font-size: 0.865rem;
  line-height: 160%;
}

.todas-alternativas {
  width: 100%;
  max-width: 700px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.alternativa {
  width: calc(50% - 10px);
  min-height: 60px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  background: rgba(var(--secondary), 0.2);
  color: white;
  line-height: 160%;
  box-shadow: 0 0 0 2px transparent;
  transition: all 0.1s linear;
}

.alternativa:not(.marcada, .acertou, .errou):hover {
  background: rgba(var(--secondary), 0.3);
  box-shadow: 0 0 0 2px rgb(var(--secondary));
}

.alternativa:not(.acertou, .errou).marcada {
  background-color: rgba(var(--secondary), 0.7);
  box-shadow: 0 0 0 2px rgb(var(--primary));
}

.alternativa.acertou {
  background-color: rgba(0, 128, 0, 0.6);
}

.alternativa.errou {
  background-color: rgba(255, 0, 0, 0.6);
}


.conferir-proximo {
  width: 100%;
  max-width: 700px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conferir-proximo > button {
  all: unset;
  position: absolute;
  padding: 10px 30px;
  border-radius: 9999px;
  cursor: pointer;
  color: black;
  line-height: 160%;
  background: #c6c6c67e;
  font-size: 1.125rem;
}

.conferir-proximo > button:hover {
  background: #c6c6c6;
  transition: background 0.1s;
}

.conferir-proximo > .mostrar-corretas {
  bottom: -50px;
}

.conferir.sumir, .proximo.sumir, .mostrar-corretas.sumir, .quiz.sumir, .resultado.sumir {
  display: none;
}

.resultado {
  justify-content: flex-start;
}

table > caption {
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  color: #FFF;
  box-shadow: 0 1px 0  #c6c6c641;
  margin-bottom: 10px;
}

table tr + tr {
  box-shadow: 0 -1px 0 0 #c6c6c6;
  line-height: 260%;
  text-decoration: line-through;
  color: #c6c6c6;
}

table tr:last-of-type {
  text-decoration: none;
}

table th {
  font-size: 1.125rem;
  line-height: 160%;
  color: #c6c6c6b4;
  padding: 0 20px;
  border-collapse: collapse;
}

table th + th {
  border-left: 2px solid #c6c6c6;
}

table td {
  color: rgba(0, 128, 0, 0.6); 
  text-align: center;
  font-weight: 700;
}

table td + td {
  color: rgba(255, 0, 0, 0.6);
}

table td span {
  color: #c6c6c6;
  font-weight: 400;
}

.reiniciar {
  all: unset;
  padding: 10px 30px;
  border-radius: 9999px;
  cursor: pointer;
  color: black;
  line-height: 160%;
  background: #c6c6c67e;
  font-size: 1.125rem;
  font-weight: 700;
}

.reiniciar:hover {
  background: #c6c6c6;
  transition: background 0.1s;
}
